    style>
        /* container */
        body {
            font-family: 'Segoe UI';
            background: gray;
            margin: 0;
            padding: 0;
            color: black;
            line-height: 1.6;
        }

        /* หัวข้อ */
        h1 {
            text-align: center;
            color: purple;
            font-size: 70px;
            margin-top: 50px;
            margin-bottom: 30px;
            font-weight: bold;
        }

        /* ข้อมูลส่วนตัว */
        .container {
            max-width: 800px;
            margin: 0 auto;
            background: white;
            padding: 40px;
            border-radius: 20px;
            box-shadow: 0 10px 25px black;
            text-align: center;
        }

        /* โปรไฟล์ */
        .profile-img {
            width: 200px;
            height: 200px;
            border-radius: 50%; 
            object-fit: fill;
            margin-bottom: 20px;
        }

        .info-section {
            font-size: 1.2rem;
            margin-bottom: 30px;
            text-align: left;
            display: inline-block; 
        }

        /* port */
        .portfolio-section {
            margin-top: 40px;
            border-top: 2px solid white;
            padding-top: 30px;
            
        }

        .portfolio-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 20px;
            margin-top: 20px;
        }

        .portfolio-item {
            background: white;
            padding: 15px;
            border-radius: 10px;
            border-left: 5px solid purple;
            border-right: 5px solid purple;
            text-align: center;
            

        }
        .portfolio-item h3 {
            margin-top: 0;
            color: purple;
            
        }

        .portfolio-img {
            width: 100%;
            border-radius: 10px;
            margin-top: 10px;
            
        }